@use "../variables";
@use "./header";

* {
  box-sizing: border-box;  
  
  
}
body {
  // font-family: "Lora", serif;
}
.main-header {
    // background-color: rgba(variables.$primary,0.7);
    background-color: #fffe;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    
}

.poster {
  
    // background-color: beige;
  background-image: linear-gradient( #000a, #0005), url('./../images/grill.webp');
  color: #fff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
    
  
  
  &__content__gallery {
      max-width: 1350px;

      margin: auto;
      padding: 100px 20px 20px;
      display: grid;        
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 300px);
      gap: 15px;
      list-style: none;  
       
      &__item:first-child {
        grid-column: span 2;
        
      }      
      &__item:nth-child(7) {
        grid-column: span 2;
      }
      &__item:nth-child(8) {
        display: none;
      }
       
     
     
    
      &__item {        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: variables.$secondary;
        // border: 5px solid variables.$primary; 
        border-radius: 5px; 
        opacity: .8;  
        box-shadow: 0 0 5px #fff;;        
       
        position: relative;
        > h3 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          font-size: 2rem;
          > a {
            text-decoration: none;
            color: inherit;
          }
        }  
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover {
          
          overflow: hidden;
          opacity: 1;

        > img {
          transform: scale(1.1);
          
          transition: .5s;
        }
      }  
    }  
      
  }
  
}


.poster__content__title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  > h2 {
    font-size: 1.2rem;  
  }
}

@media (min-width: 600px) {
    
    .poster__content__gallery {
      &__item:first-child {
        grid-column: span 1;        
      }      
      &__item:nth-child(7) {
        grid-column: span 1;
      } 
      &__item {        
        > h3 {          
          font-size: 2rem;
        }         
      }       
    }
    .poster__content__title {      
      > h1 {
        font-size: 3rem;
      }
      > h2 {
        font-size: 2rem;  
      }
    }
    
}

@media (min-width: 900px) {
    
    .poster__content__gallery {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 300px 300px 300px;
        &__item:first-child {
          grid-column: span 2;  
          grid-row: span 2;      
        }      
        &__item:nth-child(2) {
          display: none;
          
        } 
        &__item:nth-child(3) {
          grid-column: 3 / 5;
          grid-row: 1 / 2;
        } 
        &__item:nth-child(6) {
          grid-column: span 2;
          
        } 
        &__item {        
          > h3 {          
            font-size: 1.7rem;
          }         
        }       
      }
      .poster__content__title {   
        grid-column: 1 / 3;
        grid-row: 1 / 2;   
        > h1 {
          font-size: 2.5rem;
        }
        > h2 {
          font-size: 1rem;  
        }
      }
    
}

@media (min-width: 1200px) {
    
    .poster__content__gallery {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(3, 300px);
      &__item:first-child {
       
      }
       
        
      &__item:nth-child(2) {
        display: initial;
        grid-column: span 2;
      }

      
     
      &__item:nth-child(4) {
        grid-column: span 2;
        grid-row: span 2;
      
      }
      &__item:nth-child(6) {
        grid-column: span 3;
      }
      &__item:nth-child(7) {
         grid-column: span 3;
      }
      &__item:nth-child(8) {
         display: initial;
         grid-column: 4 / 6;
         grid-row: 3 / 4;
      }
       &__item {        
        
        > h3 {
          
          
          font-size: 3rem;
        }  
        
      }    
    
    }
    .poster__content__title {
      grid-column: 3 / 7;
      grid-row: 2 / 3;
      > h1 {
        font-size: 3.5rem;
      }
      > h2 {
        font-size: 2.5rem;
      }
    }
    
}




