@use "../variables";
@use "./header";

.article__header {
    margin-top: 64px;
    text-align: center;
    padding: 100px 20px;
    background-image: linear-gradient(#000a, #0005), url('./../images/grill.webp');
    color: white;
}