@use "../variables";
@use "./header";



.article__header {
    margin-top: 64px;
    
    text-align: center;
    padding: 100px 20px;
    background-image: linear-gradient(#000a, #0005), url('./../images/grill.webp');
    background-size: cover;
    background-position: center;
    color: white;
    @media(min-width: 600px){
       
        .article__title {
            font-size: 2.5rem;
            max-width: 1350px;
            margin: auto;
        }
    }
     @media(min-width: 1200px){
        padding: 200px 50px;
        .article__title {
            font-size: 4rem;

        }
    }
   
}

.main-jornada2025 {
    padding: 20px;
    max-width: 1350px;
    margin: auto;
    container-type: inline-size;
    container-name: jornada;
    
}
.article__intro {
    @container jornada (min-width: 900px){        
        display: flex;
        gap: 40px;
        
    }
}
.article__list {
    margin: 50px 0;
    &-title {
        color: variables.$secondary;
    }

    &> ul {
        list-style: none;
        
        &> li {
                      
            display: inline-block;            
            background-image: url(../images/logo.webp);
            background-repeat: no-repeat;
            background-size: 30px 30px;
            background-position: left top;
            padding-left: 40px;
        }
    }

    
}
.article :is(p, h3) {
  margin-bottom: 1rem;
}
.article__quote {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2rem;
    background-color: variables.$secondary;
    color: #fff;
    padding: 40px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
    
    &>footer {
        text-align: right;
        margin-top: 10px;
        font-size: 1rem;
        
    }
}

.article__figure-image {
    width: 100%;
    max-width: 800px;

}