<header class="main-header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-iaia">
        <div class="container">
            <a class="navbar-brand fs-4 fw-bold primary" href="index.html" ><img src="./assets/images/logo.webp" alt="Logotip La cuina de la iaia" width="40"> La Cuina de la Iaia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="jornades2025.html">Jornada</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ponents.html">Ponents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacte.html">Contacte</a>
                </li>  
            </ul>
            </div>
        </div>
    </nav>
    
</header>