<header>
    <nav class="navbar navbar-expand-sm bg-iaia-primary">
        <div class="container">
            <a class="navbar-brand fs-4 fw-bold" href="#" ><img src="./assets/images/logo.webp" alt="Logotip La cuina de la iaia" width="40"> <span class="iaia-secondary">La Cuina de la Iaia</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Programa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ponents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tallers</a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacte</a>
                </li>  
            </ul>
            </div>
        </div>
    </nav>
    
</header>