/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";


//Font
// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

//Bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

