// Funció transparències 
@function alpha-iaia($color, $opacity) {
  @return rgba($color, $opacity);
}

// Ombres
@function shadow-iaia($level) {
  @if $level == 1 {
    @return 0 2px 4px rgba(0, 0, 0, 0.1);
  } @else if $level == 2 {
    @return 0 4px 12px rgba(0, 0, 0, 0.5);
  } @else {
    @return none;
  }
}