@use "sass:color";


$font-family: "Lora", serif;


$primary-color: #FFC107;
$secondary-color: #3F2E85;
//Com fem servir bootstrap genero les clases per fer servir aquest colors
.bg-iaia-primary {
    background-color: $primary-color;
}
.iaia-primary {
    color: $primary-color;
}
.bg-iaia-secondary {
    background-color: $secondary-color;
}
.iaia-secondary {
    color: $secondary-color;
}


 @import "bootstrap/scss/bootstrap";

$mqMinWidth: 420px;
