@use "sass:color";





$primary: #FFC107;
$secondary: #3F2E85;
$navbar-dark-color: $secondary;
$navbar-dark-hover-color: #fff;
$navbar-dark-active-color: $secondary;
$bg-iaia: color.scale($primary, $lightness: 70%);
// $font-family-sans-serif: 'Lora', serif;
// $font-family-base: $font-family-sans-serif;


@import "bootstrap/scss/bootstrap";

$mqMinWidth: 420px;
