/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */



 /**
 * Import dependencies
 */
@use "dependencies";



/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */
@use "layouts/global";
@use "layouts/home";
@use "layouts/ponents";
@use "layouts/jornades";
@use "layouts/contacte";


 /**
 * Layers    
 */
 @layer global, components, layout-home, layout-article, overrides;

/**
 * Do NOT include anything else in this file!
 */

